.r{
    text-align: center;
    background-image: url("https://kartinki.pics/uploads/posts/2022-12/1669918622_1-kartinkin-net-p-fon-dlya-prezentatsii-po-fizike-instagram-1.jpg")
}
body{
    height: 100%;
    width: 100%;
}    

